<div id="footer">
  <p class="text-center">CONTACT INFORMATION<br><a href="mailto:vp@vincentpanis.com">vp@vincentpanis.com</a>&nbsp;&nbsp;&nbsp;<span>&#8226;</span>&nbsp;&nbsp;&nbsp;<a href="tel:+33684739618">+33 6 84 73 96 18</a></p>
</div>
