<header id="header" class="row" data-hook>
  <figure id="logo" class="columns six" data-hook><%= logo %><div><p style="padding-left: 5px; font-size: 20px;">Offering a wide range of business services.</p></div></figure>
  <%#= render partial: 'spree/shared/nav_bar' %>
  <%#= render partial: 'spree/shared/main_nav_bar' if store_menu? %>
  <figure id="avatar" class="columns six" data-hook><%= image_tag ("https://avatars1.githubusercontent.com/u/25386031?s=460&u=0a031f3f827c388fb0ad5bc5e6de3581dc78ee9d&v=4") %></figure>
</header>
