<div class="cards">
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.savyondiagnostics.com/wp-content/uploads/2017/09/wsi-imageoptim-sky.jpg)">
    <p>Business Development</p>
    <!-- <a class="btn btn-flat" href="#">Read more</a> -->
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://previews.123rf.com/images/sevendeman/sevendeman1706/sevendeman170600046/80113992-concept-of-hungry-thirsty-and-hot-dry-dirt-ground-of-hot-bad-summer-weather-.jpg)">
    <p>Project Management</p>
    <!-- <a class="btn btn-flat" href="#">Read more</a> -->
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.publicdomainpictures.net/pictures/180000/velka/sea-background-texture-14667654387Yx.jpg)">
    <p>Web Development</p>
    <!-- <a class="btn btn-flat" href="#">Read more</a> -->
  </div>
</div>


